* {
  font-family: "Mononoki Nerd Font Mono";
  font-size: 12pt;
  font-weight: bold;
  border-radius: 0px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

@keyframes blink_red {
  to {
    background-color: rgb(242, 143, 173);
    color: rgb(26, 24, 38);
  }
}

.warning,
.critical,
.urgent {
  animation-name: blink_red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

window#waybar {
  background-color: transparent;
}

window>box {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  background-color: rgb(30, 30, 46);
}

#mode {
  color: rgb(217, 224, 238);
}

#workspaces {
  padding-left: 0px;
  padding-right: 4px;
}

#workspaces button {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: rgb(16, 74, 94);
  color: rgb(26, 24, 38);
}

#workspaces button.focused {
  background-color: rgb(181, 232, 224);
  color: rgb(26, 24, 38);
}

#workspaces button.urgent {
  color: rgb(26, 24, 38);
}

#workspaces button:hover {
  background-color: rgb(248, 189, 150);
  color: rgb(26, 24, 38);
}

tooltip {
  background: rgb(48, 45, 65);
}

tooltip label {
  color: rgb(217, 224, 238);
}

#mode,
#clock,
#memory,
#temperature,
#cpu,
#temperature,
#backlight,
#pulseaudio,
#network,
#battery {
  padding-left: 10px;
  padding-right: 10px;
}

#memory {
  color: rgb(181, 232, 224);
}

#cpu {
  color: rgb(245, 194, 231);
}

#clock {
  color: rgb(217, 224, 238);
}

#temperature {
  color: rgb(150, 205, 251);
}

#backlight {
  color: rgb(248, 189, 150);
}

#pulseaudio {
  color: rgb(245, 224, 220);
}

#network {
  color: #abe9b3;
}

#network.disconnected {
  color: rgb(255, 255, 255);
}

#battery.charging,
#battery.full,
#battery.discharging {
  color: rgb(250, 227, 176);
}

#battery.critical:not(.charging) {
  color: rgb(242, 143, 173);
}

#tray {
  padding-right: 8px;
  padding-left: 10px;
}
