window#waybar {
  all: unset;
}

.modules-left {
  padding: 7px;
  margin: 8 0 0 8;
  border-radius: 10px;
  background: alpha(@base00, 0.95);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

.modules-center {
  padding: 7px;
  margin: 8 0 0 0;
  border-radius: 10px;
  background: alpha(@base00, 0.95);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

.modules-right {
  padding: 7px;
  margin: 8 8 0 0;
  border-radius: 10px;
  background: alpha(@base00, 0.95);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

tooltip {
  background: @base00;
  color: @base05;
}

#clock:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#wireplumber:hover #temperature:hover {
  transition: all 0.3s ease;
  color: @base0B;
}

#clock {
  padding: 0px 5px;
  color: @base05;
  transition: all 0.3s ease;
}

#workspaces {
  padding: 0px 5px;
}

#workspaces button {
  all: unset;
  padding: 0px 5px;
  color: alpha(@base0B, 0.4);
  transition: all 0.2s ease;
}

#workspaces button.active {
  color: @base0B;
  border: none;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

#workspaces button.empty {
  color: rgba(0, 0, 0, 0);
  border: none;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.2);
}

#workspaces button.empty.active {
  color: @base0B;
  border: none;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

#battery.charging {
  color: #26a65b;
}

#battery.warning:not(.charging) {
  color: #ffbe61;
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu,
#network,
#bluetooth,
#wireplumber,
#memory,
#battery,
#temperature {
  padding: 0px 7px;
  transition: all 0.3s ease;
  color: @base05;
}

#tray {
  padding: 0px 5px;
  transition: all 0.3s ease;
}

#tray menu * {
  padding: 0px 5px;
  transition: all 0.3s ease;
}

#tray menu separator {
  padding: 0px 5px;
  transition: all 0.3s ease;
}
