name: update deps

on:
  schedule:
    - cron: "0 0 * * *"

  workflow_dispatch:

jobs:
  deps:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
      - run: nix run .#update
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore: bump flake.lock"
          branch: main
          file_pattern: flake.lock
          skip_dirty_check: false
          skip_fetch: true
      - run: |
          nix profile install nixpkgs#neovim
          ln -s ./assets/astronvim ~/.config/nvim
          nvim --headless "+Lazy! update" +qa
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore: bump lazy-lock.json"
          branch: main
          file_pattern: assets/astronvim/lazy-lock.json
          skip_dirty_check: false
          skip_fetch: true
